/* Global styles */
body {
  font-family: "Agu Display", sans-serif; /* Use Agu Display font */
  font-weight: 400;
  font-style: normal;
  background-color: #2f3136; /* Discord-like dark background */
  color: #dcddde; /* Light gray text */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; /* Ensures header at top, footer at bottom */
}

header {
  background-color: #7289da; /* Discord blue */
  padding: 20px 0;
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Space out logo and title/nav */
  padding-left: 20px;
  padding-right: 20px;
}

header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #b9bbbe;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 50px; /* Adjust logo size */
  height: auto;
}

/* Main content */
main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.home_topic {
  font-size: 24px;
  margin-bottom: 10px;
}

.home_text {
  font-size: 18px;
  margin-bottom: 20px;
}

.container_pictures {
  padding-top: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.thumbnail {
  width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
}

.thumbnail:hover {
  transform: scale(1.1);
}

/* Modal for enlarging images */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 60px;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  text-align: center;
  color: #fff;
  padding: 10px 0;
  font-size: 16px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: #2f3136;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #40444b;
  color: #b9bbbe;
}

footer p {
  margin: 0;
  font-size: 14px;
}

:popover-open
